/*
  CastorCAD photo albums style
*/

.albums-info {
  font-size: 13px;
  font-weight: bold;
  text-align: right;
  padding: 10px 0;
  color: #AF0319;
}

.albums-info div {
  margin-right: 20px;
}

#album_thumbnails > div {
  width: 33%;
  float: left;
  padding: 5px; xborder: 1px solid red;
}

#album_thumbnails div.item-title {
  color: black;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  position: relative;
}

#album_thumbnails div img {
  max-height: 217px;
  margin: 0 auto;
  display: block;
}

#album_thumbnails div img:hover {
  background-color: #3387cc;
}

#album_carousel.carousel {
  width: 100%; border: 1px solid red;
  height: 100%;
  background: none;
  margin: 0px;
  border: none;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 0px;
}

#album_carousel.carousel img {
  width: auto;
  max-height: 720px;
  xmargin: 0px auto;
}

.footer-menu {
  display: none;
  bottom: 0px;
}

@media screen and ( min-width: 992px ) and ( max-width: 1199px ) {
  #album_thumbnails > div {
    width: 50%;
  }
  
  #album_thumbnails div img {
    max-height: 273px;
  }

}

@media screen and ( min-width: 777px ) and ( max-width: 991px ) {
  [class*="col-md-"] {
    margin: 0px;
  }
  
  .header .col-md-6 {
    width: 50%;
    float: left;
  }
  
  #album_thumbnails > div {
    width: 50%;
  }
  
  #album_thumbnails div img {
    max-height: 211px;
  }

}

@media screen and ( min-width: 640px ) and ( max-width: 776px ) {
  [class*="col-md-"] {
    margin: 0px;
  }
  
  .header .col-md-6 {
    width: 50% !important;
    float: left !important;
  }
  
  #container .container {
    padding: 0p;
  }
  
  #album_thumbnails > div {
    width: 100%;
  }
  
  #album_thumbnails div img {
    max-height: 340px;
  }
}

@media screen and ( max-width: 639px ) {
  [class*="col-md-"] {
    margin: 0px;
  }
  
  .header .col-md-6 {
    width: 100% !important;
    float: none !important;
  }
  
  .header .logo {
    margin-bottom: 10px !important;
  }
  
  .header .logo img {
    margin-bottom: 0;
    float: none !important;
  }
  
  .header .albums-info {
    clear: both;
    margin-bottom: 30px;
  }
  
  .header .albums-info div {
    margin: 0 auto;
    text-align: center;
  }
  
  #container .container {
    padding: 0p;
  }
  
  #album_thumbnails > div {
    width: 100%;
  }
  
  #album_thumbnails div img {
    max-height: 340px;
  }

}


/* bootstrap carousel */
@xmedia ( max-width: 640px ) {
  .header .logo {
    margin-bottom: 5px;
  }
  
  #album_thumbnails > div {
    xwidth: 100%;
  }
}

/*
@media (max-width: 767px) {
  .header {
    padding: 10px;
  }
  
  .header .logo img {
    margin-bottom: 5px;
  }
  
  .xs-modal .xs-modal-close {
    top: 1px;
    right: 1px;
  }
  
  #album_carousel.carousel {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  #album_thumbnails div {
    width: 33%;
  }
}

@media (max-width: 480px){
  .header .logo {
    margin-bottom: 5px;
  }
  
  #album_thumbnails div {
    width: 50%;
  }
  
  #album_carousel.carousel img {
    margin-top: 40px;
  }
}
*/