/*
  CastorCAD photo albums style
*/

#album_thumbnails div {
  width: 25%;
  float: left;
  padding:5px;
}

#album_thumbnails div img {
  cursor: pointer;
}

#album_thumbnails div.active img,
#album_thumbnails div.active img:hover {
  background-color: #AF0319;
}

#album_thumbnails div img:hover {
  background-color: #3387cc;
}

.xs-modal .xs-modal-close {
  right: 9%;
  top: 4%;
}

#album_carousel.carousel {
  width: 80%;
  height: 90%;
  background: none;
  top: 5%;
  left: 10%;
  margin: 0px;
  border: none;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 0px;
}

#album_carousel.carousel img {
  width: auto;
  max-height: 100%;
  margin: 0px auto;
}

.footer-menu {
  display: none;
  bottom: 0px;
}

/* bootstrap carousel */

@media (max-width: 767px) {
  .header {
    padding: 10px;
  }
  
  .header .logo img {
    margin-bottom: 5px;
  }
  
  .xs-modal .xs-modal-close {
    top: 1px;
    right: 1px;
  }
  
  #album_carousel.carousel {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  #album_thumbnails div {
    width: 33%;
  }
}

@media (max-width: 480px){
  .header .logo {
    margin-bottom: 5px;
  }
  
  #album_thumbnails div {
    width: 50%;
  }
  
  #album_carousel.carousel img {
    margin-top: 40px;
  }
}