/*
  CastorCAD photo albums style
*/

#xs_load_images img {
  width: 20%;
}

.albums-info {
  font-size: 20px;
  text-align: right;
  padding: 6px 0;
  color: #AF0319;
}

.albums-info div {
  margin-right: 20px;
  margin-left: 15px;
}

.albums-info div:last-child {
  color: #777;
}

.thumbnails-container #album_thumbnails {
  width: 1110px;
  margin: 0 auto;
}

.thumbnails-container #album_thumbnails > div {
  width: 360px;
  height: 270px;
  display: inline-block;
  margin: 5px 5px 0px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.thumbnails-container #album_thumbnails > div:hover {
  background-color: #3366FF;
}

#album_thumbnails > div div {
  position: relative;
  margin: 3px;
  height: 262px;
  overflow: hidden;
  z-index: 9;
}

#album_thumbnails div img {
  z-index: 8;
}

#album_thumbnails div img:hover {
  cursor: pointer;
}

#album_carousel.carousel {
  width: 100%;
  background: none;
  position: absolute;
  top: 4%;
  margin: 0px;
  border: none;
  box-shadow: none;
  padding: 0px;
  text-align: center;
}

#album_carousel.carousel .carousel-controls {
  right: 49%;
  bottom: 10px;
  z-index: 11;
}

#album_carousel.carousel .carousel-control {
  width: 30px;
  height: auto;
  margin: 0;
  background: none;
  opacity: 1;
  text-shadow: none;
}

#album_carousel.carousel .carousel-control .glyphicon {
  line-height: 20px;
  cursor: pointer;
}

#album_carousel.carousel .carousel-control .glyphicon-chevron-left,
#album_carousel.carousel .carousel-control .glyphicon-chevron-right {
  width: auto;
  height: auto;
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
  color: #222;
}

#album_carousel.carousel .carousel-inner {
  width: auto;
  text-align: center;
  display: inline-block;
  padding 2px;
  background-color: #fff;
  border: 8px solid #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

#album_carousel.carousel .carousel-inner .item.active {
  display: inline-block;
  margin: 0 auto;
  -webkit-transition: .6s ease-in-out left, 1s ease width;
  transition: .6s ease-in-out left 4s, 0.6s ease width 3s;
}

#album_carousel.carousel img {
  width: auto;
}

#album_carousel.carousel .carousel-caption {
  max-width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  padding: 10px 0 2px 2px;
  font-weight: normal;
}

#album_carousel.carousel .carousel-caption h3 {
  font-size: 13px;
  margin: 0px;
  line-height: 12px;
  color: #000;
  background: none;
}

.footer-menu {
  display: none;
  bottom: 0px;
}

@media screen and ( max-height: 688px ) {
  #album_carousel.carousel {
    top: 3%;
  }
  
  #album_carousel.carousel img {
    height: 600px !important;
  }
}


@media screen and ( min-width: 1280px ) {
  #album_carousel.carousel img {
    height: 700px;
  }
}

@media screen and ( min-width: 1200px ) and ( max-width: 1279px ) {
  #album_carousel.carousel {
    top: 6%;
  }
  
  #album_carousel.carousel img {
    height: 660px;
  }
}

@media screen and ( min-width: 992px ) and ( max-width: 1199px ) {
  .thumbnails-container #album_thumbnails {
    width: 740px;
  }
  
  #album_carousel.carousel {
    top: 14%;
  }
  
  #album_carousel.carousel img {
    height: 545px;
  }
}

@media screen and ( min-width: 777px ) and ( max-width: 991px ) {
  [class*="col-md-"] {
    margin: 0px;
  }
  
  .header .col-md-6 {
    width: 50%;
    float: left;
  }
  
  .thumbnails-container #album_thumbnails {
    width: 740px;
  }
  
  #album_carousel.carousel .carousel-controls {
    right: 47%;
  }
  
  #album_carousel.carousel {
    top: 20%;
  }

  #album_carousel.carousel img {
    height: 420px;
  }
}

@media screen and ( min-width: 640px ) and ( max-width: 776px ) {
  [class*="col-md-"] {
    margin: 0px;
  }
  
  .header .col-md-6 {
    width: 50% !important;
    float: left !important;
  }
  
  #container .container {
    padding: 0p;
  }
  
  .thumbnails-container #album_thumbnails {
    width: 370px;
  }
  
  #album_carousel.carousel {
    top: 25%;
  }
  
  #album_carousel.carousel .carousel-controls {
    right: 45%;
  }
  
  #album_carousel.carousel img {
    height: 345px;
  }
  
  @media ( orientation: landscape ) {
    #album_carousel.carousel {
      top: 0%;
    }
    
    #album_carousel.carousel img {
      height: 245px !important;
    }
  }
}

@media screen and ( min-width: 410px ) and ( max-width: 639px ) {
  [class*="col-md-"] {
    margin: 0px;
  }
  
  .header .col-md-6 {
    width: 100% !important;
    float: none !important;
  }
  
  .header .logo {
    margin-bottom: 10px !important;
  }
  
  .header .logo img {
    margin-bottom: 0;
    float: none !important;
  }
  
  .header .albums-info {
    clear: both;
    margin-bottom: 30px;
  }
  
  .header .albums-info div {
    margin: 0 auto;
    text-align: center;
  }
  
  #container .container {
    padding: 0p;
  }
  
  .thumbnails-container #album_thumbnails {
    width: 370px;
  }
  
  #album_carousel.carousel {
    top: 35%;
  }
  
  #album_carousel.carousel .carousel-controls {
    right: 42%;
  }
  
  #album_carousel.carousel img {
    height: 210px;
  }
  
  @media ( max-width: 480px ) {
    #album_carousel.carousel {
      top: 0%;
    }

    #album_carousel.carousel img {
      height: 210px !important;
    }
  }
}

@media screen and ( max-width: 409px ) {
  [class*="col-md-"] {
    margin: 0px;
  }
  
  .header .col-md-6 {
    width: 100% !important;
    float: none !important;
  }
  
  .header .logo {
    margin-bottom: 10px !important;
  }
  
  .header .logo img {
    margin-bottom: 0;
    float: none !important;
  }
  
  .header .albums-info {
    clear: both;
    margin-bottom: 30px;
  }
  
  .header .albums-info div {
    margin: 0 auto;
    text-align: center;
  }
  
  #container .container {
    padding: 0p;
  }
  
  #album_carousel.carousel {
    top: 35%;
  }
  
  #album_carousel.carousel .carousel-controls {
    right: 42%;
  }
  
  #album_carousel.carousel img {
    height: 210px;
  }
  
  .thumbnails-container #album_thumbnails {
    width: 290px;
  }
  
  .thumbnails-container #album_thumbnails > div {
    width: 280px;
    height: 210px;
  }
  
  .thumbnails-container #album_thumbnails > div div {
    height: 202px;
  }
  
  @media ( orientation: portrait ) {
    #album_carousel.carousel {
      top: 25%;
    }
    
    #album_carousel.carousel img {
      height: 160px !important;
    }
  }
}