/*
  gallery.css: CastorCAD Gallery style
  
*/

#gallery_carousel.carousel {
  margin: 0px 0px 5px 0px;
  border: none;
  box-shadow: none;
}

#gallery_carousel.carousel .carousel-inner, .gallery-thumbnails-container {
  background-color: #1B1B1B;
  background-image: linear-gradient(to bottom, #111111, #222222);
  background-repeat: repeat-x;
  border-color: #252525;
}

#gallery_carousel.carousel .carousel-caption {
  display: none;
}

#gallery_carousel.carousel img {
  width: auto;
  max-height: 590px;
  margin: 0px auto;
}

.gallery-thumbnails-controls {
  width: 17px;
  height: 69px;
  cursor: pointer;
}

.gallery-thumbnails-controls.left {
  float: left;
  background: #1B1B1B url(../images/arrow-left.png) no-repeat -1px 27px;
}

.gallery-thumbnails-controls.left:hover {
  background-position: -18px 27px;
}

.gallery-thumbnails-controls.right {
  float: right;
  background: #1B1B1B url(../images/arrow-right.png) no-repeat -18px 27px;
}

.gallery-thumbnails-controls.right:hover {
  background-position: -1px 27px;
}

.gallery-thumbnails-controls.next, .gallery-thumbnails-controls.prev {
  background-color: red;
}

.gallery-thumbnails-container {
  width: auto;
  height: 69px;
  position: relative;
  overflow: hidden;
}

.gallery-thumbnails-container .viewport {
  position: absolute;
  white-space: nowrap;
}

#gallery_thumbnails div {
  xmax-width: 120px;
  height: 65px;
  display: inline-block;
  margin: 2px 1px;
}

#gallery_thumbnails div img {
  max-width: 100px;
  height: 100%;
  display: block;
  margin: 0px auto;
  opacity: 0.3;
  cursor: pointer;
}

#gallery_thumbnails div img.img-thumbnail {
  padding: 1px;
  border-radius: 3px;
}

#gallery_thumbnails div img.active {
  xborder-color: #AF0319;
  opacity: 1;
}