/*
  CastorCAD Modal Window style
*/

.rs-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 11;
  background: rgba( 0, 0, 0, 0.8 );
}

.rs-modal .rs-modal-close {
  width: 50px;
  xheight: 30px;
  xbackground: url( "../images/sprite.png" ) 0 1px no-repeat;
  font-size: 14px;
  color: #fff;
  position: absolute;
  z-index: 12;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
