/*
  CastorCAD custom style
*/

body {
  margin: 0px;
  padding: 0px;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.banner .carousel-caption {
  background: rgba( 0, 0, 0, 0.5 );
  padding: 5px;
}

.banner .carousel-caption h3 {
  color: #fff;
  margin: 0px;
  text-align: center;
}

.banner .carousel-control {
  cursor: pointer;
}

.container {
  padding: 0 25px;
}

.contact {
  margin-bottom: 25px;
}

.contact .control-group {
  margin-bottom: 0px;
}

.map #map {
  height: 400px;
}

.map img {
  max-width: none;
}