/*
  CastorCAD custom style
*/

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.navigation {
  width: 100%;
  margin: 0 auto;
  z-index: 20;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.navigation.navbar-inverse {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

.banner {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #111111, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111111), to(#222222));
  background-image: -webkit-linear-gradient(top, #111111, #222222);
  background-image: -o-linear-gradient(top, #111111, #222222);
  background-image: linear-gradient(to bottom, #111111, #222222);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

.banner .carousel-controls {
  position: absolute;
  max-width: 1920px;
  margin: 0 auto;
  top: 50%;
  margin-top:-20px;
  left: 0;
  right: 0;
}

.banner .carousel-control {
  position: absolute;
  left: 3%;
  width: 40px;
  height: 40px;
  font-size: 40px;
  font-weight: 100;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 2px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.banner .carousel-control.right {
  right: 3%;
  left: auto;
}

.banner .carousel-control:hover,
.banner .carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.banner .carousel-inner {
  max-width: 1920px;
  margin: 0 auto;
}

.banner .carousel-caption {
  width: 60%;
  background: rgba( 0, 0, 0, 0.5 );
  padding: 10px;
  left: 100px;
  bottom: 50px;
}

.banner .carousel-caption h3 {
  color: #fff;
  margin: 0 0 0 20px;
  font-size: 28px;
  text-align: left;
}

.banner .carousel-caption p {
  color: #ccc;
  margin: 30px 30px 20px 50px;
  font-size: 18px;
  text-align: justify;
}

.container {
  padding: 0 25px;
}

.contact {
  margin-bottom: 25px;
}

.contact .control-group {
  margin-bottom: 0px;
}

.map #map {
  height: 400px;
}

.map img {
  max-width: none;
}

/* responsive style for tablets and smartphones */

@media (max-width: 768px) {
  .carousel-controls {
    display: none;
  }
  
  .banner .carousel-caption {
    width: 80%;
    padding: 10px;
    left: 50px;
    bottom: 20px;
  }
  
  .banner .carousel-caption h3 {
    font-size: 16px;
    margin-left: 10px;
  }
  
  .banner .carousel-caption p {
    font-size: 12px;
    margin: 15px 5px 5px 25px;
  }
  
  .banner .carousel-control {
    width: 20px;
    height: 20px;
    font-size: 17px;
    line-height: 17px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
  }
}

/* Portrait */
@media screen and (orientation:portrait) {
  .banner .carousel-caption {
    position: relative;
    background: none;
    width: 80%;
    left: 0;
    margin: 0 auto;
    bottom: 0;
  }
  
  .banner .carousel-caption h3 {
    margin: 20px 0 0;
    font-size: 18px;
  }
  
  .banner .carousel-caption p {
    margin: 15px 0;
    font-size: 14px
  }
}