/*
  CastorCAD custom style
*/

body {
  margin: 0px;
  padding: 0px;
}

.navigation {
  max-width: 1920px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navigation.navbar-inverse {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

.banner {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #111111, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111111), to(#222222));
  background-image: -webkit-linear-gradient(top, #111111, #222222);
  background-image: -o-linear-gradient(top, #111111, #222222);
  background-image: linear-gradient(to bottom, #111111, #222222);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

.banner .carousel-controls {
  position: absolute;
  max-width: 1920px;
  margin: 0 auto;
  top: 50%;
  left: 0;
  right: 0;
}

.banner .carousel-inner {
  max-width: 1920px;
  margin: 0 auto;
}

.banner .carousel-caption {
  background: rgba( 0, 0, 0, 0.5 );
  padding: 5px;
  left: 0;
  right: 0;
  bottom: 0;
}

.banner .carousel-caption h3 {
  color: #fff;
  margin: 0px;
  text-align: center;
}

.banner .carousel-control {
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  color: #ccc;
}

.container {
  padding: 0 25px;
}

.contact {
  margin-bottom: 25px;
}

.contact .control-group {
  margin-bottom: 0px;
}

.map #map {
  height: 400px;
}

.map img {
  max-width: none;
}

.xs-photo-matrix {
}

.xs-photo-matrix div {
  display: inline-block;
  padding: 10px;
}

.xs-photo-matrix img {
  cursor: pointer;
}

.xs-photo-matrix div img.active {
  border: 2px solid #4f9fcf;
}
